@model MCPropelDemotest.Models.StudentMs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentMs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentfullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentfullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseJoining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseJoining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Regno" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
