@model MCPropelDemotest.Models.StudentMs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentMs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentfullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentfullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseJoining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseJoining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Regno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
